# This file specifies files that are *not* uploaded to Google Cloud Platform

.gcloudignore
.git
.gitignore

.vscode/
/airspaces
/app/src/
/common
/docs
/ds
/frontend/src
/run
/tracks
/fetcher
test/
# /node_modules is required for external modules
node_modules