# This file specifies files that are *not* uploaded to Google Cloud Platform

.gcloudignore
.git
.gitignore

.vscode/
.github/
.rollup.cache/


/app/src/

/common
/docs
/ds

/frontend/src
/frontend/static/js/chunks/dev
/frontend/scripts

/run
/tracks
/fetcher
/scripts
/proxy
/airspaces

test/
node_modules