# Add files here to ignore them from prettier formatting

/dist
/coverage
/apps/*/dist
/libs/*/dist

/apps/fxc-front/public
/apps/fxc-tiles/assets/*.json
/apps/fxc-tiles/assets/geojson
/apps/fxc-tiles/assets/openaip
/apps/fxc-tiles/assets/tiles
/libs/windy-types/src/types
/.nx/cache
/.nx/workspace-data

/pnpm-lock.yaml
.nx/self-healing