html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

fly-xc {
  height: 100%;
  display: block;
  position: relative;
}

ion-router-outlet.has-tracks {
  height: 80%;
}

#map,
#map3d {
  width: 100%;
  height: 100%;
}

chart-element {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 0%;
  overflow: hidden;
}

chart-element.has-tracks {
  height: 20%;
}

.attribution {
  margin: 2px 5px;
  color: black;
  text-decoration: none;
}

.gm-label-outline {
  text-shadow: white -1px 0, white 0 1px, white 1px 0, white 0 -1px;
  filter: drop-shadow(0 0 1px lightgray);
  white-space: pre;
}

@font-face {
  font-family: 'Line Awesome Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-solid-900.eot');
  src: url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-solid-900.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-solid-900.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-solid-900.woff') format('woff'),
    url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-solid-900.ttf') format('truetype'),
    url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-solid-900.svg#lineawesome')
      format('svg');
}

@font-face {
  font-family: 'Line Awesome Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-brands-400.eot');
  src: url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-brands-400.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-brands-400.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-brands-400.woff') format('woff'),
    url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-brands-400.ttf') format('truetype'),
    url('https://cdn.jsdelivr.net/npm/line-awesome@1/dist/line-awesome/fonts/la-brands-400.svg#lineawesome')
      format('svg');
}

/* Reduce widgets margin */
.esri-ui-corner-container {
  inset: 5px 5px 20px !important;
}

.nobr {
  white-space: nowrap;
}

ul.credits {
  list-style-type: none;
  padding-left: 0;
}

ul.credits li {
  margin-top: 1em;
}

img.fxc-tile {
  opacity: 0;
  position: absolute;
}

div.fxc-tile {
  position: relative;
  height: 256px;
  width: 256px;
  overflow: hidden;
}

/* Airspaces have long list of classes and types */
ion-select.small-text::part(text) {
  font-size: 90%;
}

/* Needed to align ion-toggle icon and text */
.val-mid {
  vertical-align: middle;
}

