// Copy to key.ts and add your own keys
export const keys: { [key: string]: {[key: string] : string} } = {
  gmaps: { domain1: 'key1', domain2: 'key2', '*': 'fallback' },
  ignfr: { domain1: 'key1', domain2: 'key2', '*': 'fallback' },
  arcgis: { domain1: 'key1', domain2: 'key2', '*': 'fallback' },
};
