export enum SecretKeys {
  GEONAMES = '<key>',
  REDIS_URL = '<url>',
  GOOGLE_OAUTH_ID = '...',
  GOOGLE_OAUTH_SECRET = '...',
  SESSION_SECRET = '...',
  FLYME_TOKEN = '...',
  ADMINS = 'user@gmail.com,...',
  PROXY_KEY = '...',
  OPENAIP_KEY = '...',
  AVIANT_URL = '...',
  // https://www.george-smart.co.uk/aprs/aprs_callpass/
  APRS_USER = '...',
  APRS_PASSWORD = '...',
  ZOLEO_UNLINK_URL = `...`,
  ZOLEO_UNLINK_API_KEY = `...`,
  ZOLEO_PUSH_USER = `...`,
  ZOLEO_PUSH_PWD = `...`,
  XCONTEXT_JWT = `...`,
  BUY_ME_A_COFFE_TOKEN = `...`,
  FLYMASTER_GROUP_ID = `...`,
  FLYMASTER_GROUP_TOKEN = `...`,
}
